/* Body Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Light Sky Blue */
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #2e8b57;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}

h1 {
    margin: 0;
}

#timer, #high-score {
    font-weight: bold;
    margin: 10px;
}

/* Main Content Styles */
main {
    background-color: #fff; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
}

#quiz-container {
    text-align: center;
}
/* Question Styles */
#question {
    color: #4169e1; 
    font-weight:bold;
    font-family: Arial, sans-serif;
    font-size:xx-large;
}

#choices {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: x-large;
    color:#2e8b57;
    font-family: Arial, sans-serif;
}

#choices li {
    margin: 20px 0 !important;
}

/* Button Styles */
#next-button {
    background-color: #2e8b57; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#next-button:hover {
    background-color: #228b22; 
}

#start-button {
    background-color: rgb(41, 104, 156); 
    color: #f4f3f3; 
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 26px;
    cursor: pointer;
}
#start-button:hover {
    background-color: #0f2c0f; 
}

/* Radio Button Styles */
input[type="radio"] {
    margin-right: 5px;
}

/* High Score Styles */
#high-score {
    position:relative;
    top: 5px;
    color:#fff;
}

/* Responsive Design */
@media (max-width: 768px) {
    main {
        margin: 10px;
    }
}
